@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Regular.eot");
    src: local("TT Lakes Regular"), local("TTLakes-Regular"),
        url("fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/TTLakes-Regular.woff") format("woff"),
        url("fonts/TTLakes-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Medium.eot");
    src: local("TT Lakes Medium"), local("TTLakes-Medium"),
        url("fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/TTLakes-Medium.woff") format("woff"),
        url("fonts/TTLakes-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Bold.eot");
    src: local("TT Lakes Bold"), local("TTLakes-Bold"),
        url("fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/TTLakes-Bold.woff") format("woff"),
        url("fonts/TTLakes-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

html,
body,
p,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button,
input {
    margin: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    height: auto;
    max-width: 100%;
}

body {
    font-family: "TT Lakes", sans-serif;
    background-color: #f8f8f8;
}

/*ШАПКА*/

.repair {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    background: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
    border-top: 2px solid #D9FFF5;
}

.repair__text {
    padding-left: 32px;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
}

/*Слайдер*/
.brands-btn {
    width: 192px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {

    .brands__list {
        margin: 16px;
        width: 224px;
    }

    .swiper {
        height: 126px;
    }

    .slider-blur::before {
        content: "";
        width: 24px;
        height: 81px;
        position: absolute;
        top: 10px;
        right: 0px;
        background: linear-gradient(to left, rgb(255, 255, 255) 0%, transparent 100%);
        z-index: 10;
    }

    .swiper-pagination-bullet {
        background-color: #a5a5a5;
    }

    .swiper-pagination-bullet-active {
        background-color: #B5B6BC;
    }

    .showmore {
        display: none;
    }
}

@media (min-width: 768px) {

    .brands {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 242px;
        overflow: hidden;

    }

    .brands__list {
        display: flex;
        align-items: center;
        position: relative;
        gap: 16px;
        flex-wrap: wrap;
        overflow: hidden;
        margin: 24px 32px 24px 32px;
    }

    .brands__list {
        background: #f8f8f8;
        transition: all 0.6s;
    }

    .swiper-pagination {
        display: none;
    }

    .swiper-slide {
        width: auto;
        height: auto;
    }

    .showmore {
        position: relative;
        font-family: 'TT Lakes';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        display: inline-block;
        width: 150px;
        border: none;
        background-color: #f8f8f8;
        margin-left: 32px;
        text-align: justify;
    }

    .showmore img {
        float: left;
        position: relative;
        top: 5px;
    }

    .showmore::before {
        content: 'Показать всё';
        position: relative;
        left: 17px;
    }

    .brands.active .showmore img {
        transform: rotate(180deg);
    }

    .brands.active .showmore::before {
        content: 'Скрыть';
    }

    .brands.active {
        height: auto;
    }
}