@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Regular.eot");
    src: local("TT Lakes Regular"), local("TTLakes-Regular"),
        url("fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/TTLakes-Regular.woff") format("woff"),
        url("fonts/TTLakes-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Medium.eot");
    src: local("TT Lakes Medium"), local("TTLakes-Medium"),
        url("fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/TTLakes-Medium.woff") format("woff"),
        url("fonts/TTLakes-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Bold.eot");
    src: local("TT Lakes Bold"), local("TTLakes-Bold"),
        url("fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/TTLakes-Bold.woff") format("woff"),
        url("fonts/TTLakes-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

html,
body,
p,
ul,
li,
h1,
h2 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button,
input {
    margin: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    height: auto;
    max-width: 100%;
}

body {
    font-family: 'TT Lakes', sans-serif;
    background-color: #f8f8f8;
}

/*ШАПКА*/
.slider__grad {
    background: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
    border-top: 2px solid #D9FFF5;
}

.slider__grad-text {
    padding-left: 32px;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*Слайдер*/
.brands-btn {
    width: 208px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
}

.brands-btn:hover {
    background-color: #949293;
    transition: background-color 0.5s ease, color 0.2s linear;
}

.brands-btn:focus {
    background-color: #413e3f;
}

.brands__list {
    margin: 16px;

}

.showmore {
    display: none;
}

.swiper-wrapper {
    margin-bottom: 35px;
}

.swiper-pagination {
    top: 104px;
}

.swiper-pagination-bullet {
    background-color: #a5a5a5;
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet:hover {
    transform: scale(1.5);
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

@media (min-width: 320px) and (max-width: 767px) {
    .slider-blur::after {
        content: "";
        width: 24px;
        height: 81px;
        position: absolute;
        top: 10px;
        right: 0px;
        background: linear-gradient(to left, rgb(255, 255, 255) 0%, transparent 100%);
        z-index: 10;
    }
}

@media (min-width: 768px) and (max-width: 1119px) {
    .brands-btn {
        width: 188px;
        margin-right: 8px;
    }
}

@media (min-width: 768px) {
    .slider {
        max-width: 1120px;
    }

    .slider__brands {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .brands__list {
        display: flex;
        align-items: center;
        position: relative;
        gap: 16px;
        flex-flow: wrap;
        max-height: 170px;
        overflow: hidden;
        margin: 24px 32px 24px 32px;
        transition: all 0.6s ease;
    }

    .brands__list {
        background: #f8f8f8;
    }

    .swiper-pagination {
        display: none;
    }

    .swiper-slide {
        width: auto;
        height: auto;
    }

    .showmore {
        position: relative;
        font-family: 'TT Lakes';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        display: flex;
        gap: 17px;
        width: 150px;
        border: none;
        background-color: #f8f8f8;
        margin-left: 32px;
        text-align: justify;
    }

    .showmore img {
        float: left;
        position: relative;
        top: 5px;
        transition: all 0.6s;
    }

    .active .brands__list {
        max-height: 100vh;
    }

    .active .showmore img {
        transition: all 0.6s;
        transform: rotate(180deg);
    }
}

@media (min-width: 1120px) {
    .swiper-slide {
        margin-right: 16px;
    }
}
