@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Regular.eot");
    src: local("TT Lakes Regular"), local("TTLakes-Regular"),
        url("fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/TTLakes-Regular.woff") format("woff"),
        url("fonts/TTLakes-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Medium.eot");
    src: local("TT Lakes Medium"), local("TTLakes-Medium"),
        url("fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/TTLakes-Medium.woff") format("woff"),
        url("fonts/TTLakes-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Bold.eot");
    src: local("TT Lakes Bold"), local("TTLakes-Bold"),
        url("fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/TTLakes-Bold.woff") format("woff"),
        url("fonts/TTLakes-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

html,
body,
p,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button,
input {
    margin: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    height: auto;
    max-width: 100%;
}

body {
    font-family: "TT Lakes", sans-serif;
    background-color: #f8f8f8;
}

.btn-model {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #ff3e79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.btn-model:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

/*ШАПКА*/
.page__menu {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    padding: 18px 24px 32px 24px;
    background-color: white;
    box-shadow: 0 0 50px 1px grey;
}

.menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 46px;

}

.menu__exit-logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

/*СПИСОК*/
.menu__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.list__link {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
    background-color: white;
    border: none;
    padding: 0;
}

.list__link:focus::before {
    position: absolute;
    left: 0;
    content: "";
    width: 4px;
    height: 32px;
    background-color: #41f6d7;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-left: 0;
    transform: translateY(-5px);
}

.link-text:hover {
    opacity: 0.5;
}

.list__link:focus>.link-text {
    opacity: 0.5;
}

/*ПОДВАЛ*/
.menu__contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}

.select-list__profile {
    display: flex;
    gap: 16px;
    padding-bottom: 4px;
}

.contacts__mail-text {
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
}

.contacts__tel-text {
    font-family: "TT Lakes";
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: bold;
}

.lang {
    padding-top: 24px;
    background-color: white;
}

.lang-ru,
.lang-en,
.lang-ch {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
    background-color: white;
    border: none;
}

.lang-ru:focus,
.lang-en:focus,
.lang-ch:focus {
    opacity: 0.5;
    transition: 0.5s;
}

.lang-ru:hover,
.lang-en:hover,
.lang-ch:hover {
    transition: 0.5s;
    transform: scale(1.2);
}